
Phase 1/Sprint1/João Padrão/~$de_smells_joao_padrao.doc
Phase 1/Sprint1/Bruno Cabrita/~$tterns_Bruno_Cabrita.doc
Phase 1/Sprint1/João Padrão/~$de_smells_joao_padrao.doc
Phase 1/Sprint1/João Padrão/~WRL0005.tmp
