
Phase 1/Sprint1/João Padrão/~$de_smells_joao_padrao.doc
Phase 1/Sprint1/Bruno Cabrita/~$tterns_Bruno_Cabrita.doc
Phase 1/Sprint1/João Padrão/~$de_smells_joao_padrao.doc
Phase 1/Sprint1/João Padrão/~WRL0005.tmp
Phase 1/Sprint1/João Padrão/~$trics_complexity.docx
Phase 1/Sprint1/joao oliveira/~$de_smells_joao_o.doc
Phase 1/Sprint1/João Padrão/~WRL1414.tmp
Phase 1/Sprint1/Bruno Cabrita/~$de_smells_Bruno_Cabrita.doc
Phase 1/Sprint1/João Padrão/~WRL2706.tmp
Phase 1/Sprint1/João Padrão/~$tterns_joao_padrao.doc
Phase 1/Sprint1/João Padrão/TODO.txt
